<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--  <meta name="author" content="GNU/Linux Users' Group,">
    <meta name="keywords" content="hackathon, aavishkar, nit duragpur"> -->

    <title>Alchemy</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <section class="bg-primary" id="overview">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading white-text mb-4">Hackathon</h2>
            <!-- <h5 class="white-text">Platform partner: <img src="img/hackerearth.png" width="180px"\> and </h5> -->
            <!-- <h5 class="white-text">In association with <img src="img/developer-circles-for-facebook-logo.png" height="50px"\></h5> -->
            <hr class="light my-4">
            <p class="white-text mb-4">There are numerous topics that constantly <strong>try to draw our attention</strong> as they have a dire <strong>need of immediate action.</strong> With every passing day there is a new problem creeping up to disrupt today. </p>

            <p class="white-text mb-4">Government of Odisha invites students to participate in <strong> HACKATHON and come up with exciting,</strong> innovative, novel and viable solutions<strong> for the listed themes.</strong>  It is a challenge designed to inspire the creative and dynamic minds and to put their skills to test , thereby identifying and rewarding the tech wizards.</p>
            <p class="white-text mb-4"><strong>Press the button below to explore the Themes</strong></p>
          <!--  <p class="white-text mb-4">Come up with your ideas from <strong>8th to 11th March </strong> and the actual building process will start from <strong>17th March (to 18th March)</strong>. Compete and build the best devices to win <strong>tons of great prizes!</strong></p> -->
          <% if(!user){ %>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/themes">Get Started!</a>
            <% }else{ %>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/<%- user.type %>Profile">Profile</a>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.min.css" rel="stylesheet">




  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#overview">Overview</a>
            </li>
            <% if(!user){ %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/register">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
            <% } else { %>

             <li class="nav-item">
               <a class="nav-link js-scroll-trigger" href="/<%user.type%>Profile"></a>
             </li>
             <li class="nav-item">
               <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
             </li>

             <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Alchemy</strong>
            </h1>
            <h2 class="typewriter-effect"></h2>
            <hr class="my-4">
          </div>
          <div class="col-lg-8 mx-auto">
        <!--    <h4 class="mb-5">
              <strong>Let your creativity fuel the innovation in technology!<strong>
              </h4> -->
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#overview">Find Out More</a>
          </div>
        </div>
      </div>
    </header>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/main.min.js"></script>

    <!-- typewriter script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/typer.min.js"></script>
    <script>
    $(document).ready(function() {
      $(".typewriter-effect").typer({
        strings: [
          "Make money from waste",
          "Help transform waste management"
        ] });
      });
    </script>

</html>
